.dar-checkbox-container {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.dar-checkbox-container:hover .dar-checkbox-span {
  border-color: #1890ff;
}
.dar-checkbox-input {
  width: 18px;
  height: 18px;
  z-index: 1;
  position: absolute;
  margin: 0;
  opacity: 0;
  left: 0;
  cursor: pointer;
}
.dar-checkbox-span {
  width: 18px;
  height: 18px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: inline-flex;
  transition: all 0.25s ease-in-out;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.dar-checkbox-icon {
  transition: all 0.25s ease-in-out;
}
.dar-checkbox-label {
  padding-left: 5px;
  cursor: pointer;
}
.dar-checkbox-checked .dar-checkbox-span {
  border-color: #1890ff;
  background-color: #1890ff;
}
.dar-checkbox-checked .dar-checkbox-icon {
  transform: scale(0.8);
}
.dar-checkbox-unchecked .dar-checkbox-icon {
  transform: scale(0);
}
.dar-checkbox-disabled .dar-checkbox-input {
  cursor: not-allowed;
}
.dar-checkbox-disabled .dar-checkbox-label {
  cursor: not-allowed;
}
.dar-checkbox-disabled .dar-checkbox-span {
  border: 1px solid #d9d9d9 !important;
  background-color: #f5f5f5;
  color: #000000d9;
}
.dar-checkbox-disabled .dar-checkbox-icon {
  opacity: 0.25;
}
