.dar-collspan-menu,
.dar-collspan-item {
  cursor: pointer;
}
.dar-collspan-menu:hover,
.dar-collspan-item:hover {
  color: #1890ff;
  background-color: #fcfcfc;
}
.dar-collspan-active {
  color: #1890ff;
  background-color: #e6f7ff !important;
}
.dar-collspan-halfActive {
  color: #1890ff;
}
.dar-collspan-container {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
.dar-collspan-open {
  opacity: 1;
}
.dar-collspan-close {
  opacity: 0;
}
.dar-collspan-rotate {
  transition: all 0.25s ease-in-out;
  font-size: 12px;
}
.dar-collspan-rotate90 {
  transform: rotate(90deg);
}
